/* you need to implement */
/* 设置最底层的元素：背景，让整个页面铺满浏览器的显示框 */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 设置背景图片的属性 */
.theme {
  background: url(../images/water_wave_bg.gif);
  background-size: cover;
  font-family: "STKaiti", Arial, Helvetica, sans-serif;
}
