/* 设置页面底层的背景并让整个页面平铺满显示屏 */
html,
body {
  width: 100%;
  height: 100%;

  /* 图片超出底层元素框的部分将被隐藏掉 */
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage {
  background-image: url("../images/bg.gif");
  background-size: cover;
  font-family: serif, "Microsoft YaHei";
}

/* 页面内容只要的显示区域的背景设置 */
.container {
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  font-family: serif, "Microsoft YaHei";
  color: black;
}

/* 导航栏的设置,采用flex布局，并让四个项目水平均匀分布在主内容框中*/
.overview {
  display: flex;
  justify-content: space-around;
}

/* 设置各部分统计框的尺寸属性 */
.static {
  display: flex;
  width: 20%;
  height: 80px;
  border-radius: 10px;
  /* border-color: white; */
  /* color: white; */
}
/* 设置左右部分的属性 */
.content-left {
  flex-grow: 1;
}

.content-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 设置每个部分文本的属性 */
/* 设置各任务统计框标题文本的属性 */
.text-title {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}
/* 设置各任务统计框左边数字文本的属性 */
.text-number {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0px 10px;
}

/* 设置各任务统计框右边百分比文本的属性 */
.static-proportion {
  color: white;
  font-size: 30px;
}
/* 给四个部分分别添加背景 */
.all-tasks {
  background-color: #31b48d;
  background: url("../images/all_tasks_bg.jpg"), rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}
.active-tasks {
  background-color: #38a1f2;
  background: url("../images/active_task_bg.svg"), rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.padding-tasks {
  background-color: #7538c7;
  background: url("../images/padding_tasks_bg.svg"), rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.closed-tasks {
  background-color: #3b67a4;
  background: url("../images/closed_tasks_bg.svg"), rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}
/* 设置任务显示框的属性 */
.task-container {
  height: 100%;
}
/* 设置title行的属性 */
.title-bar {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.task-list-title {
  flex-grow: 2;
}
/* 搜索添加任务元素的设置 */
.search-add {
  padding: 22px 5px 22px 0px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: flex-end;
}
.search-input {
  width: 240px;
  border: 0px;
  border-bottom: 2px solid #000000;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}

.title-bar-btn {
  border: 1px solid #308169;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 2px;
  padding: 5px 10px 2px 10px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: background 0.8s;
}

.task-list {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.9;
  height: 100%;
}

/* .task-list-table {
  display: flex;
  justify-content: space-between;
} */
.task-list-header {
  background-color: #cad0e6;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
  /* border-radius: 2px; */
  /* box-shadow: 3px 3px 3px 3px grey; */
  display: flex;
  justify-content: flex-start;
  /* width: calc(100% - 35px); */
}

/* 设置各个列表内容的属性 */
ol {
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}
.task-item {
  font-size: 15px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(217, 219, 228, 0.6);
  border-bottom: 1px solid #d5d6e0;
}
/* 分别设置各个项目的宽度 */
.task-num {
  flex-grow: 0.5;
  text-align: left;
  max-width: 5%;
}
.task-name {
  flex-grow: 2;
  text-align: left;
  max-width: 20%;
}
.task-description {
  flex-grow: 4.5;
  text-align: left;
  max-width: 45%;
  /* 内容溢出元素框会被隐藏 */
  overflow: hidden;
  /* 超过元素框宽度的内容用省略号表示 */
  text-overflow: ellipsis;
  /* 文本显示为两行,超过部分隐藏并使用省略号*/
  display: -webkit-box;
  /* 从顶部向底部垂直布置元素*/
  -webkit-box-orient: vertical;
  /* 规定最多显示几行 */
  -webkit-line-clamp: 1;
}
/* 设置悬停效果 */
.task-description:hover {
  /* 内容不会被修剪，会呈现在元素框之外 */
  overflow: visible;
  -webkit-box-orient: inherit;
  text-overflow: inherit;
  /* 光标呈现为指示链接的指针（一只手） */
  cursor: pointer;
}
.task-deadline {
  flex-grow: 1;
  text-align: left;
  max-width: 10%;
}
.task-status {
  flex-grow: 1;
  text-align: left;
  max-width: 10%;
}
.taks-operation {
  flex-grow: 1;
  text-align: left;
  max-width: 10%;
}
.active {
  color: rgb(95, 143, 33);
}
.padding {
  color: rgb(41, 113, 141);
}
.closed {
  color: rgb(235, 85, 122);
}
/* 设置task-list header的按钮的属性 */
/* .col-btn {
  display: ;
} */
.sort-btn-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px;
}
.sort-btn {
  height: 9px;
  cursor: pointer;
  background-color: rgb(68, 66, 66);
}
.sort-up {
  -webkit-mask: url(../images/sort_up.svg) no-repeat center;
  mask: url(../images/sort_up.svg) no-repeat center;
}
.sort-down {
  -webkit-mask: url(../images/sort_down.svg) no-repeat center;
  mask: url(../images/sort_down.svg) no-repeat center;
}

.btn-icon {
  border: 0;
  outline: none;
  /* background-color: rgba(255, 255, 255, 0); */
  cursor: pointer;
}
